<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Global Educacional</title>
    <%= wicked_pdf_stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' %>
    <%= wicked_pdf_javascript_include_tag %>
  </head>
  <body style="background-color: #fff;">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 mb-4">
          <img src="https://globaleducacional.com.br/assets/img/logo/logo.png" style=''  alt="Global Educacional" />
        </div>
      </div>
      <div class="row text-center mb-4">
        <h6><%= Event.first.name.upcase %></h6>
      </div>
      <div class="row text-center mb-4">
        <strong>Total de participantes</strong>
        <h6><%= User.where(admin: nil).count %></h6>
      </div>
      <div class="row mb-2">
        <div class="col-sm-12">
          <% @users_by_city.sort.each do |city, users| %>
            <div class="city-header" style="background-color: #D3D3D3; padding: 5px; margin-top: 10px; text-align: center;">
              <strong><%= city.upcase %></strong>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">QTD</th>
                  <th scope="col">CÓDIGO</th>
                  <th scope="col">NOME</th>
                  <th scope="col">E-MAIL</th>
                  <th scope="col">TELEFONE</th>
                  <th scope="col">ORGÃO</th>
                  <th scope="col">CIDADE</th>
                  <th scope="col">FORMA DE PAGAMENTO</th>
                  <th scope="col">STATUS DE PAGAMENTO</th>
                  <th scope="col">DATA INSCRIÇÃO</th>
                </tr>
              </thead>
              <tbody style="text-align: center; font-size: 14px;">
                <% users.sort_by { |user| user.name.downcase }.each_with_index do |user, index| %>
                  <tr>
                    <td><strong><%= index + 1 %></strong></td>
                    <td><%= user.id %></td>
                    <td><%= user.name.upcase %></td>
                    <td><%= user.email %></td>
                    <td><%= user.phone %></td>
                    <td><%= user.institution.blank? ? 'Não informado' : user.institution %></td>
                    <td><%= city %></td>
                    <td><%= I18n.t("payment_method.#{user.payment_method}") %></td>
                    <td>
                      <% if user.payment_status == 'paid' %>
                        <strong><span class="text-success">Pago</span></strong>
                      <% elsif user.payment_status == 'document_paid' %>
                        <strong><span class="text-info">Empenhado</span></strong>
                      <% else %>
                        <strong><span class="text-danger">Pendente</span></strong>
                      <% end %>
                    </td>
                    <td><%= user.created_at.strftime('%d/%m/%Y %H:%M:%S') %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="row">
              <div class="col-4">
                <div class="card border-0 zoom-in bg-danger-subtle shadow-none">
                  <div class="card-body">
                    <div class="text-center">
                      <i class="icon ti ti-users fs-9"></i>
                      <p class="fw-semibold fs-3 text-danger mb-1">Participantes pendentes</p>
                      <h5 class="fw-semibold text-danger mb-0"><%= User.where(admin: nil, payment_status: nil, city: city).count %></h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card border-0 zoom-in bg-warning-subtle shadow-none">
                  <div class="card-body">
                    <div class="text-center">
                      <i class="icon ti ti-users fs-9"></i>
                      <p class="fw-semibold fs-3 text-warning mb-1">Participantes empenhados</p>
                      <h5 class="fw-semibold text-warning mb-0"><%= User.where(admin: nil, payment_status: 'document_paid', city: city).count %></h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card border-0 zoom-in bg-success-subtle shadow-none">
                  <div class="card-body">
                    <div class="text-center">
                      <i class="icon ti ti-users fs-9"></i>
                      <p class="fw-semibold fs-3 text-success mb-1">Participantes pagos</p>
                      <h5 class="fw-semibold text-success mb-0"><%= User.where(admin: nil, payment_status: 'paid', city: city).count %></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% unless city == @users_by_city.keys.sort.last %>
              <div style="page-break-after: always;"></div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4 text-center">
        <p>Este documento foi impresso por <%= current_user.name %> via Global Educacional em: <%= Time.now.strftime('%d/%m/%Y %H:%M')%></p>
      </div>
    </div>
  </body>
</html>
