<div class="row">
  <div class="card w-100 position-relative overflow-hidden">
    <div class="px-4 py-3 border-bottom">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="card-title fw-semibold mb-0 lh-sm">
          <i class="icon ti ti-subscription_events"></i>
          Lista de inscrições: <strong class="text-primary"><%= @event.name %></strong>
        </h5>
        <div class="d-flex align-items-center">
          <%= search_form_for [:portal, @q], url: search_subscription_event_portal_subscription_events_pt_path, html: { method: :post, data: { turbo: false } } do |f| %>
            <%= f.hidden_field :event_id, value: @event.id %>
            <div class="input-group">
              <%= f.search_field :user_name_cont, class: 'form-control', placeholder: 'Buscar', value: "#{params.dig(:q, :name_cont)}" %>
              <% if params[:q].present? %>
                <%= link_to 'Limpar filtro', clear_filters_portal_subscription_events_path(event_id: @event.id), class: 'btn btn-primary rounded-end' %>
              <% else %>
                <button class="btn btn-primary rounded-end" type="submit">
                  <i class="ti ti-search"></i>
                </button>
              <% end %>
            </div>
          <% end %>
          <button class="btn bg-primary-subtle text-primary px-4 fs-4 ms-2" data-bs-toggle="modal" data-bs-target="#filtersubscription_event">
            <i class="ti ti-filter"></i> Filtrar
          </button>
          <div id="filtersubscription_event" class="modal fade" tabindex="-1" aria-labelledby="filtersubscription_event" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                <div class="modal-header d-flex align-items-center">
                  <h4 class="modal-title" id="filtersubscription_eventLabel">
                    Selecione um dos filtros abaixo
                  </h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <%= search_form_for [:portal, @q], url: search_subscription_event_portal_subscription_events_pt_path,
                                      html: { method: :post, data: { turbo: false } } do |f| %>
                    <%= f.hidden_field :event_id, value: @event.id %>
                    <div class="input-group mb-4">
                      <span class="input-group-text px-6"><i class="ti ti-user fs-6"></i></span>
                      <%= f.text_field :user_name_cont, class: 'form-control ps-2 name', placeholder: 'Buscar pelo nome participante' %>
                    </div>
                    <div class="input-group mb-4">
                      <span class="input-group-text px-6"><i class="ti ti-phone fs-6"></i></span>
                      <%= f.text_field :user_phone_cont, class: 'form-control ps-2 sp_celphones', placeholder: 'Buscar pelo telefone' %>
                    </div>
                    <div class="input-group mb-4">
                      <span class="input-group-text px-6"><i class="ti ti-map-pin fs-6"></i></span>
                      <%= f.select :user_city_eq, options_for_select(User.distinct.pluck(:city).compact), { include_blank: 'Buscar por município' }, class: 'form-control ps-2 city' %>
                    </div>
                    <div class="col-12 text-center mt-2 pt-50">
                      <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">Buscar</button>
                      <%= link_to 'Limpar filtro', clear_filters_portal_subscription_events_path(event_id: @event.id), data: { turbo: false }, class: 'btn bg-danger-subtle text-danger waves-effect' %>
                    </div>
                    </div>
                    </div>
                  <% end %>
                  <div class="modal-footer">
                  </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card border-0 zoom-in bg-danger-subtle shadow-none">
        <div class="card-body">
          <div class="text-center">
            <i class="icon ti ti-ticket fs-9"></i>
            <h5 class="fw-semibold text-danger mb-0"><%= SubscriptionEvent.where(event: @event, payment_type: 'pendente').count %></h5>
            <p class="fw-semibold fs-3 text-danger mb-1">Inscrições pendentes</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card border-0 zoom-in bg-warning-subtle shadow-none">
        <div class="card-body">
          <div class="text-center">
            <i class="icon ti ti-ticket fs-9"></i>
            <h5 class="fw-semibold text-warning mb-0"><%= SubscriptionEvent.where(event: @event, payment_type: 'empenhado').count %></h5>
            <p class="fw-semibold fs-3 text-warning mb-1">Participantes empenhados</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card border-0 zoom-in bg-primary-subtle shadow-none">
        <div class="card-body">
          <div class="text-center">
            <i class="icon ti ti-ticket fs-9"></i>
            <h5 class="fw-semibold text-primary mb-0"><%= SubscriptionEvent.where(event: @event, payment_type: 'pago').count %></h5>
            <p class="fw-semibold fs-3 text-primary mb-1">Participantes pagos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body p-4">
    <div class="table-responsive mb-4">
      <table class="table border text-nowrap mb-0 align-middle">
        <thead class="text-dark fs-4">
        <tr>
          <th>
            <h6 class="fs-4 fw-semibold mb-0">
              <%= sort_link(@q, :id, 'Cód Inscrição', data: { turbo: false })  %>
            </h6>
          </th>
          <th>
            <h6 class="fs-4 fw-semibold mb-0">
              <%= sort_link(@q, :name, 'Nome', data: { turbo: false })  %>
            </h6>
          </th>
          <th>
            <h6 class="fs-4 fw-semibold mb-0">
              <%= sort_link(@q, :cpf, 'CPF', data: { turbo: false })  %>
            </h6>
          </th>
          <th>
            <h6 class="fs-4 fw-semibold mb-0">
              <%= sort_link(@q, :payment_method, 'Forma de pagamento', data: { turbo: false })  %>
            </h6>
          </th>
          <th>
            <h6 class="fs-4 fw-semibold mb-0">
              <%= sort_link(@q, :paid, 'Status do pagamento', data: { turbo: false })  %>
            </h6>
          </th>
          <th>
            <h6 class="fs-4 fw-semibold mb-0">
              <%= sort_link(@q, :city, 'Município', data: { turbo: false })  %>
            </h6>
          </th>
          <th>
            <h6 class="fs-4 fw-semibold mb-0">
              <%= sort_link(@q, :created_at, 'Data inscrição', data: { turbo: false })  %>
            </h6>
          </th>
        </tr>
        </thead>
        <tbody>
        <% @subscription_events.each do |subscription_event| %>
          <tr>
            <td>
              <h6 class="fs-4 fw-semibold mb-0"><%= subscription_event.id %></h6>
            </td>
            <td>
              <div class="dropdown dropstart">
                <a href="#" class="text-muted" id="dropdownMenuButton<%= subscription_event.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                  <strong class="text-black"><%= subscription_event.user.name.upcase %>&nbsp;&nbsp;&nbsp;&nbsp;<i class="ti ti-dots fs-6"></i></strong>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= subscription_event.id %>">
                  <li>
                    <%= link_to edit_portal_user_pt_path(subscription_event.user),
                                class: 'dropdown-item d-flex align-items-center gap-3',
                                data: { turbo: :false } do %>
                      <i class="fs-4 ti ti-search"></i> Visualizar participante
                    <% end %>
                  </li>
                  <%= link_to 'Baixar pagamento', class: 'dropdown-item d-flex align-items-center gap-3', data: { bs_toggle: "modal", bs_target: "#paidsubscription_event#{subscription_event.id}" } do %>
                    <i class="fs-4 ti ti-cash"></i> Confirmar pagamento
                  <% end %>
                  <li>
                    <%= link_to portal_subscription_event_voucher_pt_path(subscription_event, format: :pdf),
                                class: 'dropdown-item d-flex align-items-center gap-3',
                                target: :_blank,
                                data: { turbo: :false } do %>
                      <i class="fs-4 ti ti-printer"></i> Comprovante de Inscrição
                    <% end %>
                  </li>
                </ul>
              </div>
            </td>
            <td>
              <p class="mb-0 fw-normal fs-4"><%= mask_cpf(subscription_event.user.cpf) %></p>
            </td>
            <td>
              <span class="badge rounded-pill bg-success-subtle text-success fw-semibold fs-2"><%= I18n.t("payment_method.#{subscription_event.payment_type}") %> <%= mask_money(subscription_event.event.value) %></span>
            </td>
            <td>
              <% if subscription_event.payment_status == 'pago' %>
                <span class="badge rounded-pill bg-info-subtle text-info fw-semibold fs-2">Pago</span>
              <% elsif subscription_event.payment_status == 'empenhado' %>
                <span class="badge rounded-pill bg-warning-subtle text-warning fw-semibold fs-2">Empenhado</span>
              <% else %>
                <span class="badge rounded-pill bg-danger-subtle text-danger fw-semibold fs-2">Pendente</span>
              <% end %>
            </td>
            <td>
              <%= subscription_event.user.city %>
            </td>
            <td><%= subscription_event.created_at.strftime('%d/%m/%Y %H:%M:%S') %></td>
            <td>
              <div id="paidsubscription_event<%= subscription_event.id %>" class="modal fade" tabindex="-1" aria-labelledby="paidsubscription_event<%= subscription_event.id %>" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                  <div class="modal-content">
                    <div class="modal-header d-flex align-items-center">
                      <h4 class="modal-title" id="filtersubscription_eventLabel">
                        Realizar confirmação de pagamento
                      </h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <%= form_with model: [:portal, subscription_event], url: portal_subscription_event_pt_path(subscription_event), method: :put, data: { turbo: false }, class: '' do |f| %>
                      <%= f.hidden_field :event_id, value: subscription_event.event.id %>
                      <div class="modal-body">
                        <label class="mb-2" for="">
                          <strong>Status do pagamento</strong>
                        </label>
                        <div class="input-group mb-4">
                          <span class="input-group-text px-6"><i class="ti ti-cash fs-6"></i></span>
                          <%= f.select :payment_status, [['Pendente', 'pendente'], ['Empenhado', 'empenhado'], ['Pago', 'pago']], {}, class: 'form-control ps-2' %>
                        </div>
                        <label class="mb-2" for="">
                          <strong>Observações sobre pagamento</strong>
                        </label>
                        <div class="input-group mb-4">
                          <span class="input-group-text px-6"><i class="ti ti-file fs-6"></i></span>
                          <%= f.text_area :paid_note, class: 'form-control ps-2', placeholder: 'Informe os detalhes do pagamento' %>
                        </div>
                        <div class="col-12 text-center mt-2 pt-50">
                          <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">CONFIRMAR PAGAMENTO</button>
                        </div>
                      </div>
                      </div>
                    <% end %>
                    </div>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="mt-4 float-end"><%== pagy_bootstrap_nav(@pagy, link_extra: 'data-turbo="false"') %></div>
    </div>
  </div>
</div>