<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <% if flash[:alert].present? %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <div class="alert-body d-flex align-items-center">
            <i class="fa fa-exclamation-circle"></i>&nbsp;
            <span><%= alert %></span>
          </div>
        </div>
      <% end %>
      <div class="card">
        <div class="card-header">
          Acessar Global Educacional
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'mt-2', data: { turbo: false }) do |f| %>
            <div class="mb-3">
              <%= f.label :email, class: 'form-label' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>
            <div class="mb-3">
              <%= f.label :password, class: 'form-label' %>
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
            </div>
            <div class="mb-3">
              <%= f.submit "Log in", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>