<!-- main-area -->
<main class="main-area fix">
  <!-- banner-area -->
  <section class="slider-area">
    <div class="slider__active">
    <div class="slider__item d-flex" data-background="../../assets/img/banner/banner_bg02.jpg">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-8">
              <div class="slider__content">
                <strong>
                  <span style="color: white" class="" data-animation-in="slideInLeft" data-delay-in=".2" data-duration-in="1.5">
                    Evento especial</span>
                </strong>
                <h2 style="color: white" class="title tg-svg" data-animation-in="slideInLeft" data-delay-in=".4"
                    data-duration-in="1.5"><%= @event.name %>
                </h2>
                <p style="color: white; font-size: 20px;" class="title tg-svg" data-animation-in="slideInLeft" data-delay-in=".4" data-duration-in="1.5">
                  <%= @event.description %>
                </p>
                <div id="sobre_nos" class="tg-button-wrap" data-animation-in="slideInLeft" data-delay-in=".8" data-duration-in="1.5">
                  <%= link_to event_checkout_pt_path(@event), class: 'btn tg-svg', style: 'background: #00b4aa;' do %>
                    <span class="text">
                      <i class="mdi mdi-ticket"></i> INSCREVA-SE
                    </span>
                  <% end %>&nbsp;&nbsp;
                  <div class="p-2" style="color: white; font-size: 20px;">
                    <i class="fa fa-calendar"></i> <%= @event.start_event_day.strftime('%d') %> a <%= @event.end_event_day.strftime('%d') %> de <%= I18n.t('date.month_names')[@event.end_event_day.strftime('%m').to_i - 1] %> - <%= I18n.t("days_weekend.#{@event.start_event_day.strftime('%A').downcase}") %> a <%= I18n.t("days_weekend.#{@event.end_event_day.strftime('%A').downcase}") %> feira
                  </div>
                  <span class="svg-icon" id="slider-btn01" data-svg-icon="../../assets/img/icons/btn-arrow.svg"></span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6">
              <div class="banner__images-two">
                <img src="../../assets/img/banner/banner_shape03.png" alt="shape" class="shape aos-init aos-animate" data-aos="zoom-in-down" data-aos-delay="800">
                <img src="../../assets/img/banner/banner_shape04.png" alt="shape" class="shape aos-init aos-animate" data-aos="zoom-in-left" data-aos-delay="1200">
                <div class="banner__images-grid">
                  <div class="banner__images-col aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-40 section-pb-90" style="background: #f6f7fb;">
    <div class="container my-8>
      <div class="row justify-content-center">
        <div class="col-12 col-md-12">
          <iframe src="../../assets/img/banner/events/event_<%= @event.id %>.pdf" style="border: none; width: 100%; height: 75vh;"></iframe>
        </div>
      </div>
    </div>
    </section>
  <section class="categories-area pt-40 section-pb-90">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center mb-55">
        <div class="col-md-12">
          <div class="categories__title-wrap text-center text-lg-start m-0">
            <div class="section__title text-center">
              <span class="sub-title">Local do Evento</span>
            </div>
            <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Oscar%20Hotel%20Executive+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">gps tracker sport</a></iframe></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- courses-end -->
<!-- cta-area -->
<section class="cta-area-three">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="cta__wrapper">
          <div class="section__title white-title">
            <h2 class="title tg-svg">A Educação pronta para você<span class="position-relative"></h2>
            </div>
            <div class="cta__desc">
              <p>A Missão da Global Educacional é buscar a formação integral oferencendo uma educação de excelência.</p>
            </div>
            <img class="object" src="../../assets/img/objects/cta_shape01.svg" style="left: 25px; top: -35px;" alt="Object" data-aos="fade-down" data-aos-delay="400">
            <img class="object" src="../../assets/img/objects/cta_shape02.svg" style="right: -20px; bottom: -80px;" alt="Object" data-aos="fade-up" data-aos-delay="400">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</main>
